<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/guru.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <title>PTMT</title>
</head>

<body>
  <div class="wrapper">
    <div class="sidebar">
      <ul>
        <li><a href="/guru">
            <span class="icon"> <i class="fas fa-security"></i></span>
            <span class="list"> Home </span>
          </a> </li>

        <li><a href="/guru-periode">
            <span class="icon"> <i class="fas fa-security"></i></span>
            <span class="list"> Periode </span>
          </a> </li>
      </ul>

      <div class="logosmart">

        <img src="/logosdsmart.png">
        <h1> <a href="/logout">Log Out  </a></h1>

      </div>


    </div>
  </div>

  <div class="judul">
    <div class="biodata">
      <h1>
        <%= periodeNow[0].nama %>
      </h1>

      <h3>
        <%= periodeNow[0].kelasAjar %>
      </h3>
    </div>
  </div>

  <table class="styled-table">
    <thead>
        <tr>
            <th>Periode PTMT</th>
            <th>Tanggal Mulai</th>
            <th>Tanggal Akhir</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <% periodeNow.forEach(per => { %>
            <tr>
                <td> <%= per.namaPeriode %> </td>
                <td> <%= per.tanggalMulai %> </td>
                <td> <%= per.tanggalAkhir %> </td>
                <td> <a href="/guru-detail/<%= per.namaPeriode %>/<%= periodeNow[0].kelasAjar %>">lihat siswa</a></td>
            </tr>
        <% }); %> 
    </tbody>
</table>


  </div>

</body>

</html>